<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Medical Uploads</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://kit.fontawesome.com/60a1748f07.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>

    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <a href="/dashboard" class="logoBorder"><img class="logo" src="https://i.ibb.co/wLmhWFV/secured-Health.png"></a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <p class="text-xl">Secure and track your documents here, forever.</p>          
        </ul>
      </div>
      <div class="navbar-end">
        <a href="/logout" class="logouts btn justify-center bg-red-600 text-base text-white hover:bg-red-800">Logout</a>
      </div>
    </div>
   

  </body>
</html>
