<%- include('partials/header') -%>

<div class="container margin">


  <h2>Add a document</h2>

  <form action="/shots/createShot" enctype="multipart/form-data" method="POST">

    <div class="padding form-control w-full max-w-xs">
      <label class="label">
        <span for="title" class="label-text">Title:</span>
      </label>
      <input type="text" class="input input-bordered w-full max-w-xs" placeholder="Type notes" id="title" name="title">
    </div>

    <div class="padding form-control w-full max-w-xs">
      <label class="label">
        <span for="imgUpload" class="label-text">Upload an Image</span>
      </label>
      <input type="file" id="imageUpload" name="file">
    </div>

    <button type="submit" class="margin flex items-center justify-center rounded-md border border-transparent bg-red-700 px-8 py-3 text-base font-medium text-white hover:bg-red-800 md:py-4 md:px-10 md:text-lg" value="Upload">Save</button>
  
  </form>

  <div class="returnedItems">
    <% for(let i = 0; i < shots.length; i++) { %>
    <div class="margin bg-white card card-compact w-96 bg-base-100 shadow-xl">
      <figure><img src="<%= shots[i].image %>" /></figure>
      <div class="bg-white card-body">
        <h2 class="card-title"><%= shots[i].title %></h2>
        <div class="card-actions justify-end">
            <form action="/shots/deleteShot/<%= shots[i]._id %>?_method=DELETE" method="POST" class="col-3">
              <button class="fa fa-trash" type="submit"></button>
            </form>
        </div>
      </div>
    </div>
    <% } %>
  </div>  

</div>